@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Course Page";
}

@model IEnumerable<Course>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Teacher First Name</th>
            <th>Teacher Last Name</th>
        </tr>
    </thead>
    <tbody>
        <a asp-controller="Course" asp-action="DisplayRegistrationForm">Add a new course</a>
        @foreach (var course in Model)
        @* @for (int i = 1; i <= Model.Count(); i++) *@
        {
            <tr>
                <td>@course.CourseId</td>
                <td>@course.CourseName</td>
                <td>@course.TeacherFirstName</td>
                <td>@course.TeacherLastName</td>

                @* Use link text instead of buttons, we can also get rid of JavasCript functions*@
                @*<td><button onclick="editRecord(@reg.Id)">Edit</button></td>*@
                @*<td><button onclick="deleteRecord(@reg.Id)">Delete</button></td>*@

                <td><a asp-controller="Course" asp-action="Edit" asp-route-id="@course.CourseId">Edit</a></td>
                <td><a asp-controller="Course" asp-action="Delete" asp-route-id="@course.CourseId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>